
*{
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
 }
 body{

   background-image :url("bgPIC/background1.jpeg")   ; 
   background-position: center ;
   background-size: cover ;
   background-repeat: no-repeat ;
   height: 100vh ;
   
   
   
}
.container {
   max-width:  1300px ;
} 
.wrap{
	margin: auto;
	width: 800px;
}

header{
	width: auto ;
	overflow : auto ;
	margin-top: 2%;

	margin-bottom: 25;
}
.logo {
	float : left ;
	margin: 1% ;
}

nav{
	float: center ;
}
nav ul  {
	width: auto ;
	overflow : auto ;
}
nav ul li {
	margin-top: 5%;
	margin-left: 1%;
	float: right;
	display: inline-block;
	List-style-type: none ;
}
.basepPage {
	background-color:#77b55a;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Impact;
	font-size:17px;
	padding:19px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.basepPage:hover {
	background-color:#72b352;
	color: #ffffff;
}
.basepPage:active {
	position:relative;
	top:1px;
}
.callUS {
	background-color:#fe1a00;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Impact;
	font-size:17px;
	padding:19px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.callUS:hover {
	background-color:#ce0100;
	color: #ffffff;

}
.callUS:active {
	position:relative;
	top:1px;
}

.suggestions {
	background-color:#64b4ff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Impact;
	font-size:17px;
	padding:20px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #70b4ff;
}
.suggestions:hover {
	background-color:#64abff;
	color: #ffffff;
}
.suggestions:active {
	position:relative;
	top:1px;
}

.aboutUS {
	background-color:#ffec64;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Impact;
	font-size:17px;
	padding:20px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee70;
}
.aboutUS:hover {
	background-color:#ffab23;
	color: #ffffff;
}
.aboutUS:active {
	position:relative;
	top:1px;
}

.start{
	width: 70px;
	height: 30px;
	background-color:#B3DFF2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	margin: 50px 300px;
	text-align: center;
	cursor:pointer;
	color:#333333;
	font-family:Impact;
	font-size:17px;
	padding: 20px;
	margin: right ;
	margin-left: 67%;
	float: left;
	text-decoration:none;
	text-shadow:0px 1px 0px #B3DFF4;
}
.start:hover {
	background-color:#58C6F5;
	color: #ffffff;
}
.start:active {
	
	position:relative;
	top:1px;
}
.talk{
	
	width: 350px;
	height: 150px;
	margin: right ;
	margin-top: 15%;
	margin-left: 50%;
	float: left;
	text-align: right;
	font-size: 25px;
	color: #ffffff;
	background: rgba(124, 184, 253,0.75);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .7)
	
}
#contactFORM{
	
	width: 450px;
	height: 130px;
	margin: right ;
	margin-top: 15%;
	margin-left: 50%;
	float: left;
	text-align: right;
	font-size: 25px;
	color: #ffffff;
	background: rgba(124, 184, 253,0.75);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .7)
	
}
#aboutUSFORM{
	
	width: 450px;
	height: 260px;
	margin: right ;
	margin-top: 15%;
	margin-left: 50%;
	float: left;
	text-align: right;
	font-size: 25px;
	color: #ffffff;
	background: rgba(124, 184, 253,0.75);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .7)
	
}
#forgertpassFORM{
    width: 550px;
	height: 150px;
	margin: right ;
	margin-top: 15%;
	margin-left: 50%;
	float: left;
	text-align: right;
	font-size: 25px;
	color: #ffffff;
	background: rgba(124, 184, 253,0.75);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .7)
	
}
#loginFORM{
	
		width: 25%;
		height: 250px;
		margin: right ;
	    margin-top: 10%;
	    margin-left: 55%;
		color: #ffffff;
		background: rgba(124, 184, 253, 0.5);
		padding:1%;
		border-radius: 20px;
		box-shadow: 0 15px 25px rgba(0, 0, 0, .7)
		 
}
input {
	width: 70%;

	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
}
input:focus{
	background: lightblue;
	border: none;
}
.forgetpassword{
	margin: auto;
}
a{
	display: block;
}
#signUpFORM{
	    width: 40%;
		height: 300px;
		margin: center ;
	    margin-top: 10%;
	    margin-left: 40%;
		color: #ffffff;
		background: rgba(124, 184, 253, 0.5);
		padding:1%;
		border-radius: 20px;
		box-shadow: 0 15px 25px rgba(0, 0, 0, .7)
}
#signUpFORM input{

	text-align:  right;
	padding: 5px;
	width: 300px;
	margin-bottom: 10px;
	border-radius: 5px;
	

}
#form{
	width: 33%;
	height: 400px;
	margin: center;
	margin-top: 5%;
	margin-left: 49%;
	background: rgba(124, 184, 253, 0.5);
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .7)
	 }

	 #emailbox{
		text-align:  right;
		padding: 5px;
		width: 250px;
		margin-bottom: 10px;
		border-radius: 5px;
		
		

	 }
	
	 
	  textarea{
		text-align: right;
		padding: 10px;
		height: 300px;
		width: 400px;
		border: #ffb9b9 1px;
		border-radius: 5px;
			  }

			



			  .list2 ul li {
      
				display: inline-block;
				margin-left: 20%;
				margin-top: 50%;
			  
			  } 
			  aside{
				width: 500px;
				float: left;
			}
			.list{
				width: 200px;
				float: right;
				padding-left: 2%;
			}
			aside .talk {
				padding-top: 0px;
				float: right;
				text-align: center;
				width: 100px;
				font-size: 25px;
			}
			.listpage{
				background-image :url("imgs/greenbackground.jpeg") ; 
				background-position: center ;
				background-size: cover ;
				background-repeat: no-repeat ;
				height: 100vh ;
			}
			.exist {
				-moz-box-shadow: 3px 4px 0px 0px #899599;
				-webkit-box-shadow: 3px 4px 0px 0px #899599;
				box-shadow: 3px 4px 0px 0px #899599;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
				background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
				background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
				background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
				background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
				background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
				background-color:#ededed;
				-moz-border-radius:15px;
				-webkit-border-radius:15px;
				border-radius:15px;
				border:1px solid #d6bcd6;
				display:inline-block;
				cursor:pointer;
				color:#3a8a9e;
				font-family:Impact;
				font-size:17px;
				padding:7px 25px;
				text-decoration:none;
				text-shadow:0px 1px 0px #e1e2ed;
			}
			.exist {
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
				background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
				background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
				background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
				background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
				background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
				background-color:#bab1ba;
			}
			.exist {
				position:relative;
				top:1px;
				margin-bottom: 2%;
				margin-left: 20%;
				margin-top: 0%;
			}
			.edit {
				-moz-box-shadow: 3px 4px 0px 0px #899599;
				-webkit-box-shadow: 3px 4px 0px 0px #899599;
				box-shadow: 3px 4px 0px 0px #899599;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
				background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
				background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
				background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
				background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
				background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
				background-color:#ededed;
				-moz-border-radius:15px;
				-webkit-border-radius:15px;
				border-radius:15px;
				border:1px solid #d6bcd6;
				display:inline-block;
				cursor:pointer;
				color:#3a8a9e;
				font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
				font-size:17px;
				padding:7px 25px;
				text-decoration:none;
				text-shadow:0px 1px 0px #e1e2ed;
			}
			.edit {
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
				background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
				background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
				background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
				background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
				background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
				background-color:#bab1ba;
			}
			.edit {
				position:relative;
				top: 53px;
				margin-left: 65%;
				margin-bottom: 10%;
				float: center;
			}
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			  